<!DOCTYPE html>
<html ng-app="PrivateBower">
<head lang="en">
    <meta charset="UTF-8">
    <title>Private Bower Registry</title>

    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="animate.min.css">
    <link rel="stylesheet" href="private-bower.css">

    <script src="angular.min.js"></script>
    <script src="angular-animate.min.js"></script>

    <script src="private-bower.js"></script>
</head>
<body ng-controller="mainController">
    <div id="wrap">
        <div class="jumbotron">
            <div class="container text-center animated fadeInDown">
                <h1>Private Bower</h1>
                <div style="position: relative;">
                    <span class="glyphicon glyphicon-search" style="position: absolute;"></span>
                    <input ng-model="packageFilter" class="form-control search" placeholder="Search package">
                </div>
                <div style="margin-top: 10px;">
                    <a href="http://github.com/Hacklone/private-bower/blob/master/README.md"
                       target="_blank" class="btn btn-default">
                        Docs
                    </a>
                </div>
            </div>
        </div>
        <div class="container animated fadeInUp">
            <div ng-if="error" class="bg-danger info-box">
                <span class="glyphicon glyphicon-remove"></span>
                Private Bower service is down
            </div>
            <div ng-if="packages && !packages.length" class="bg-warning info-box">
                <span class="glyphicon glyphicon-info-sign"></span>
                No private packages registered
                <a href="http://github.com/Hacklone/private-bower/blob/master/README.md" target="_blank">
                    read docs about how to register packages.
                </a>
            </div>
            <div ng-if="!packages" class="bg-info info-box">
                <span class="glyphicon glyphicon-info-sign"></span>
                Loading Packages...
            </div>
            <div ng-if="packages && packages.length">
                <div ng-repeat="package in packages | filter:{ name: packageFilter }" class="package">
                    <div>
                        <div>
                            <h3>
                                <a href="{{ package.repo.replace('git:', 'http:') }}" target="_blank">
                                    {{ package.name }}
                                </a>
                            </h3>
                            <span class="pull-right">hits: {{ package.hits }}</span>
                        </div>
                        <div>
                            <div style="margin-top: 5px;">
                               {{ package.repo }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
